*.egg
*.egg-info/
*.pyc

scripts/test.py
scripts/test2.py

data/
!data/deployment/openai-unicodeNames-embeddings.npz
!data/deployment/emoji_head.npz
!data/deployment/characters.txt

/.env

.DS_Store

wandb/